                
<article id="terms_and_conditions" class="page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title">{{name}}</h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <p>{{information}}</p>
    </div>
    

     <a href="mailto:example@email.com?subject=Email%20Subject&body=Email%20Body%20Text">tu texto de anclaje</a>


    </article>