<!-- ------------------------------------COMPONENT1 -->

	 <!-- Full Page Intro -->
          <div class="view " style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg'); background-repeat: no-repeat;  background-position: center center; height:500px;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-12 mb-4 white-text text-center">
                    <h1 class="h1-reponsive text-light text-uppercase  mb-0 pt-md-5 pt-5 " data-aos="fade-down" style=" letter-spacing: 8px; font-family: 'Droid Sans', sans-serif;"><strong>Minimalist intro</strong></h1>
                    <hr class="hr-light my-4 " data-aos="fade-up"  >
                    <h5 class="text-uppercase mb-4 text-light" style="font-family: 'Droid Sans', sans-serif;" data-aos="fade-up"><strong>Photography & design</strong></h5>
                    <a class="btn btn-light text-dark " data-aos="fade-up" style="font-family: 'Droid Sans', sans-serif;">Discover more</a>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          </div>
          <!-- Full Page Intro -->

       
 

        <!--------------------------------------------------------- FINISH OCMPONENT 1------------------------>

    <!-- LIGHTBOX ----------------------------------------------------------------- -->

    <section class="container gallery-container">

    <h1>Our Collections</h1>

    <p class="page-description text-center">Discover it</p>
    
    <div class="tz-gallery">

        <div class="row">
           <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="">
                  <div class="carousel-caption">
              <h4 style="font-family: 'Droid Sans', sans-serif;" ><strong>COLLECTION 1</strong></h4>
            </div>
                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg" alt="Benches">
                    
                </a>
            </div>
          <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="">
                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg" alt="Benches">
                </a>
            </div>
           <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="">
                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg" alt="Benches">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="">
                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg" alt="Benches">
                </a>
            </div>
          
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="">
                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg" alt="Benches">
                </a>
            </div>
               <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="">
                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg" alt="Benches">
                </a>
            </div>
        </div>

    </div>

</section>


<!------------------------------------- END OF COMPONET 2 ------------------------------------------------>



<!------------------------------------- START OF COMPONET 3 ------------------------------------------------>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h1><strong>Features, Unlimited Fun</strong> </h1>
        <p class="text-muted">Check out what you can do with this app theme!</p>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-screen-smartphone text-primary"></i>
                  <h3>Device Mockups</h3>
                  <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-camera text-primary"></i>
                  <h3>Flexible Use</h3>
                  <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-present text-primary"></i>
                  <h3>Free to Use</h3>
                  <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-lock-open text-primary"></i>
                  <h3>Open Source</h3>
                  <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!------------------------------------- END OF COMPONET 3 ------------------------------------------------>


<!------------------------------------- START OF COMPONET 4 ------------------------------------------------>

<!------------------------------------- END OF COMPONET 4 ------------------------------------------------>


<!------------------------------------- START OF COMPONET 5 ------------------------------------------------>


    <!-- CONTACT FROM-->
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 " data-aos="fade-up">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <h2 class="display-5">LOCATION</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48620.72515355468!2d-3.608942930227992!3d40.39122871807353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42256914050a71%3A0x260340f4bc004bb1!2sVic%C3%A1lvaro%2C%20Madrid!5e0!3m2!1ses!2ses!4v1603220617756!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="padding-bottom: 30px;">
                <form class="mbr-form" name="contactForm" action="/links/formulario" id="contactForm" method="POST" data-form-title="Form"><input type="hidden" data-form-email="true">
                    <h2 class="display-5">CONTACT FORM</h2>
                        <div class="" data-for="name">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="name-form1-2w">Name</label>
                                <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-2w">
                            </div>
                        </div>
                        <div class="" data-for="email">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="email-form1-2w">Email</label>
                                <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-2w">
                            </div>
                        </div>
                        <div class="" data-for="phone">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2w">Phone</label>
                                <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-2w">
                            </div>
                        </div>
                   
                    <div class="form-group" data-for="message">
                        <label class="form-control-label mbr-fonts-style display-7" for="message-form1-2w">Message</label>
                        <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-2w"></textarea>
                    </div>
        
                    <!-- SPINNER SENDING EMAIL-->
      
                    <span class="input-group-btn">
                        <button href="" type="submit" class="btn btn-primary btn-form display-4"><span class="spinner spinner-border spinner-border-sm mr-3" id="spinner" role="status" aria-hidden="true">
                        </span>SEND FORM</button>
                    </span>

                       
       
                </form>
            </div>
        </div>

        

        <!-- TOAST EMAIL SENT-->
        <div class="toast" id="toast_email" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="mr-auto">EMAIL SENT</strong>
            <small>now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Thank you for contacting us!
          </div>
        </div>
   

    